### Everlytics Python Test - Data Transformation -

This is related to IIoT. Industrial processes and associated sensors in a typical manufacturing production line generate huge volumes of data. The sampling rate varies from 5 to 100 milliseconds. Each data point is called a Tag. There are typically 1000 to 50,000 tags collected overall depending on the industry and the complexity of the process.

This task is to transform such data from row format (all tags in a single row) to a column format (one tag per row). In other words, from traditional SQL friendly to NoSQL friendly format.

Note: Here you can assume the tag is a sensor. tag_name is sensor name and tag_value is sensor reading.

In [196]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter('ignore')

In [197]:
pwd()

'C:\\Users\\Ankit Khicha'

In [198]:
df1 = pd.read_csv(r"C:\Users\Ankit Khicha\Sample_ Input1.csv")

In [199]:
df1.head()

,ItemId,ComputerId,ItemName,Comment,Unit,C/S/ID,DataType,BitPos,Address,MAX,MIN,ScaleMax,ScaleMin,Decimal
0,35827,10,L_R1SDW_SPDREF,R1 Screw Down WS Speed Reference (mps),NaN,0,REAL : Float,0,0x16464,10000.0,-10000.0,10000.0,-10000.0,0.0
1,35828,10,L_R1SDD_SPDREF,R1 Screw Down DS Speed Reference (mps),NaN,0,REAL : Float,0,0x16468,10000.0,-10000.0,10000.0,-10000.0,0.0
2,35829,10,L_R1SDL_SPDREF,R1 Screw Down LS Speed Reference (mps),NaN,0,REAL : Float,0,0x1646c,10000.0,-10000.0,10000.0,-10000.0,0.0
3,35830,10,L_R1SDW_SPDFBK,R1 Screw Down WS Speed Feedback (mps),NaN,0,REAL : Float,0,0x16470,10000.0,-10000.0,10000.0,-10000.0,0.0
4,35831,10,L_R1SDD_SPDFBK,R1 Screw Down DS Speed Feedback (mps),NaN,0,REAL : Float,0,0x16474,10000.0,-10000.0,10000.0,-10000.0,0.0

In [200]:
df1.tail()

,ItemId,ComputerId,ItemName,Comment,Unit,C/S/ID,DataType,BitPos,Address,MAX,MIN,ScaleMax,ScaleMin,Decimal
14,83536,10,L_R1SD_DS_SPDFBK,R1 SCREW DOWN DS SPEED FBK (MPS),NaN,0,REAL : Float,0,0x16474,10000.0,-10000.0,10000.0,-10000.0,0.0
15,83537,10,L_R1SDLS_SPDFBK,R1 SCREW DOWN LS SPEED FBK (MPS),NaN,0,REAL : Float,0,0x16478,10000.0,-10000.0,10000.0,-10000.0,0.0
16,83538,10,L_R1SD_WS_CUR,R1 SCREW DOWN WS CURRENT (%),NaN,0,INT : Signed 2 Byte Integer,0,0x2bb58,32767.0,-32768.0,32767.0,-32768.0,0.0
17,83539,10,L_R1SD_DS_CUR,R1 SCREW DOWN DS CURRENT (%),NaN,0,INT : Signed 2 Byte Integer,0,0x2bb5a,32767.0,-32768.0,32767.0,-32768.0,0.0
18,83540,10,L_R1_CNT_PASS0,R1 CONTROL PASS ZERO,NaN,0,BOOL : Bit Data,2,0x166b4,1.0,0.0,1.0,0.0,0.0

In [201]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ItemId      19 non-null     int64
 1   ComputerId  19 non-null     int64
 2   ItemName    19 non-null     object
 3   Comment     19 non-null     object
 4   Unit        0 non-null      float64
 5   C/S/ID      19 non-null     int64
 6   DataType    19 non-null     object
 7   BitPos      19 non-null     int64
 8   Address     19 non-null     object
 9   MAX         18 non-null     float64
 10  MIN         18 non-null     float64
 11  ScaleMax    18 non-null     float64
 12  ScaleMin    18 non-null     float64
 13  Decimal     18 non-null     float64
dtypes: float64(6), int64(4), object(4)
memory usage: 2.2+ KB

In [202]:
df2 = pd.read_csv(r"C:\Users\Ankit Khicha\Sample_Input2.csv")

In [203]:
df2.head()

,Date,Time,Milli Sec,L_R1SDW_SPDREF,L_R1SDD_SPDREF,L_R1SDL_SPDREF,L_R1SDW_SPDFBK,L_R1SDD_SPDFBK,L_R1SDL_SPDFBK,L_R1_ODG_AUX_B07,...,L_R1SD_DS_GAP,L_R1SD_WS_SPDREF,L_R1SD_DS_SPDREF,L_R1SDLS_SPDREF,L_R1SD_WS_SPDFBK,L_R1SD_DS_SPDFBK,L_R1SDLS_SPDFBK,L_R1SD_WS_CUR,L_R1SD_DS_CUR,L_R1_CNT_PASS0
0,6/5/2022,21:58:33,140,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
1,6/5/2022,21:58:33,145,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
2,6/5/2022,21:58:33,150,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
3,6/5/2022,21:58:33,155,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
4,6/5/2022,21:58:33,160,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1

In [204]:
df2.tail()

,Date,Time,Milli Sec,L_R1SDW_SPDREF,L_R1SDD_SPDREF,L_R1SDL_SPDREF,L_R1SDW_SPDFBK,L_R1SDD_SPDFBK,L_R1SDL_SPDFBK,L_R1_ODG_AUX_B07,...,L_R1SD_DS_GAP,L_R1SD_WS_SPDREF,L_R1SD_DS_SPDREF,L_R1SDLS_SPDREF,L_R1SD_WS_SPDFBK,L_R1SD_DS_SPDFBK,L_R1SDLS_SPDFBK,L_R1SD_WS_CUR,L_R1SD_DS_CUR,L_R1_CNT_PASS0
12746,6/5/2022,21:59:36,870,0.0,0.0,0,0.0,0.0,0,0,...,194.412003,0.0,0.0,0,0.0,0.0,0,42,44,1
12747,6/5/2022,21:59:36,875,0.0,0.0,0,0.0,0.0,0,0,...,194.412003,0.0,0.0,0,0.0,0.0,0,42,44,1
12748,6/5/2022,21:59:36,880,0.0,0.0,0,0.0,0.0,0,0,...,194.412003,0.0,0.0,0,0.0,0.0,0,42,42,1
12749,6/5/2022,21:59:36,885,0.0,0.0,0,0.0,0.0,0,0,...,194.412003,0.0,0.0,0,0.0,0.0,0,42,42,1
12750,6/5/2022,21:59:36,890,0.0,0.0,0,0.0,0.0,0,0,...,194.412003,0.0,0.0,0,0.0,0.0,0,42,42,1

In [205]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12751 entries, 0 to 12750
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               12751 non-null  object
 1   Time               12751 non-null  object
 2   Milli Sec          12751 non-null  int64
 3   L_R1SDW_SPDREF     12751 non-null  float64
 4   L_R1SDD_SPDREF     12751 non-null  float64
 5   L_R1SDL_SPDREF     12751 non-null  int64
 6   L_R1SDW_SPDFBK     12751 non-null  float64
 7   L_R1SDD_SPDFBK     12751 non-null  float64
 8   L_R1SDL_SPDFBK     12751 non-null  int64
 9   L_R1_ODG_AUX_B07   12751 non-null  int64
 10  RM1_RUNDOWN_ID_HS  12751 non-null  int64
 11  L_R1SD_WS_GAP      12751 non-null  float64
 12  L_R1SD_DS_GAP      12751 non-null  float64
 13  L_R1SD_WS_SPDREF   12751 non-null  float64
 14  L_R1SD_DS_SPDREF   12751 non-null  float64
 15  L_R1SDLS_SPDREF    12751 non-null  int64
 16  L_R1SD_WS_SPDFBK   12751 non-null  float64
 17  L_R1SD_DS_SPDFBK   12751 non-null  float64
 18  L_R1SDLS_SPDFBK    12751 non-null  int64
 19  L_R1SD_WS_CUR      12751 non-null  int64
 20  L_R1SD_DS_CUR      12751 non-null  int64
 21  L_R1_CNT_PASS0     12751 non-null  int64
dtypes: float64(10), int64(10), object(2)
memory usage: 2.1+ MB

In [206]:
#See comments in ‘Sample Input’ for column mapping (e.g., ItemId becomes tag__id)

new_df1 = df1.loc[:,['ItemId','ItemName','Comment']].copy()

In [207]:
new_df1.head()

   ItemId        ItemName                                 Comment
0   35827  L_R1SDW_SPDREF  R1 Screw Down WS Speed Reference (mps)
1   35828  L_R1SDD_SPDREF  R1 Screw Down DS Speed Reference (mps)
2   35829  L_R1SDL_SPDREF  R1 Screw Down LS Speed Reference (mps)
3   35830  L_R1SDW_SPDFBK   R1 Screw Down WS Speed Feedback (mps)
4   35831  L_R1SDD_SPDFBK   R1 Screw Down DS Speed Feedback (mps)

In [208]:
df2.head()

,Date,Time,Milli Sec,L_R1SDW_SPDREF,L_R1SDD_SPDREF,L_R1SDL_SPDREF,L_R1SDW_SPDFBK,L_R1SDD_SPDFBK,L_R1SDL_SPDFBK,L_R1_ODG_AUX_B07,...,L_R1SD_DS_GAP,L_R1SD_WS_SPDREF,L_R1SD_DS_SPDREF,L_R1SDLS_SPDREF,L_R1SD_WS_SPDFBK,L_R1SD_DS_SPDFBK,L_R1SDLS_SPDFBK,L_R1SD_WS_CUR,L_R1SD_DS_CUR,L_R1_CNT_PASS0
0,6/5/2022,21:58:33,140,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
1,6/5/2022,21:58:33,145,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
2,6/5/2022,21:58:33,150,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
3,6/5/2022,21:58:33,155,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
4,6/5/2022,21:58:33,160,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1

In [209]:
## Dropping the millisecond column.

new_df2 = df2.drop(['Milli Sec'],axis=1)

In [210]:
new_df2.head()

,Date,Time,L_R1SDW_SPDREF,L_R1SDD_SPDREF,L_R1SDL_SPDREF,L_R1SDW_SPDFBK,L_R1SDD_SPDFBK,L_R1SDL_SPDFBK,L_R1_ODG_AUX_B07,RM1_RUNDOWN_ID_HS,...,L_R1SD_DS_GAP,L_R1SD_WS_SPDREF,L_R1SD_DS_SPDREF,L_R1SDLS_SPDREF,L_R1SD_WS_SPDFBK,L_R1SD_DS_SPDFBK,L_R1SDLS_SPDFBK,L_R1SD_WS_CUR,L_R1SD_DS_CUR,L_R1_CNT_PASS0
0,6/5/2022,21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
1,6/5/2022,21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
2,6/5/2022,21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
3,6/5/2022,21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
4,6/5/2022,21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1

In [211]:
# Defining the functin to remove unit from comments.

comment = pd.Series(index = new_df1['Comment'])

In [212]:
comment.head()

Comment
R1 Screw Down WS Speed Reference (mps)   NaN
R1 Screw Down DS Speed Reference (mps)   NaN
R1 Screw Down LS Speed Reference (mps)   NaN
R1 Screw Down WS Speed Feedback (mps)    NaN
R1 Screw Down DS Speed Feedback (mps)    NaN
dtype: float64

In [213]:
# Seperating the Unit.

new_df1['Unit'] = comment.index.str.extract(r'\((\w+)\)',expand=True)

In [214]:
new_df1.head()

   ItemId        ItemName                                 Comment Unit
0   35827  L_R1SDW_SPDREF  R1 Screw Down WS Speed Reference (mps)  mps
1   35828  L_R1SDD_SPDREF  R1 Screw Down DS Speed Reference (mps)  mps
2   35829  L_R1SDL_SPDREF  R1 Screw Down LS Speed Reference (mps)  mps
3   35830  L_R1SDW_SPDFBK   R1 Screw Down WS Speed Feedback (mps)  mps
4   35831  L_R1SDD_SPDFBK   R1 Screw Down DS Speed Feedback (mps)  mps

In [215]:
## Adding the data and time as time_stamp column and dropping the original date and time columns in df2.

new_df2.insert(2,'time_stamp',new_df2['Date'].astype(str) + " "+ new_df2['Time'],True)

In [216]:
new_df2.drop(columns=['Date','Time'],axis=1,inplace=True)

In [217]:
new_df2.head()

,time_stamp,L_R1SDW_SPDREF,L_R1SDD_SPDREF,L_R1SDL_SPDREF,L_R1SDW_SPDFBK,L_R1SDD_SPDFBK,L_R1SDL_SPDFBK,L_R1_ODG_AUX_B07,RM1_RUNDOWN_ID_HS,L_R1SD_WS_GAP,L_R1SD_DS_GAP,L_R1SD_WS_SPDREF,L_R1SD_DS_SPDREF,L_R1SDLS_SPDREF,L_R1SD_WS_SPDFBK,L_R1SD_DS_SPDFBK,L_R1SDLS_SPDFBK,L_R1SD_WS_CUR,L_R1SD_DS_CUR,L_R1_CNT_PASS0
0,6/5/2022 21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,194.430008,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
1,6/5/2022 21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,194.430008,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
2,6/5/2022 21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,194.430008,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
3,6/5/2022 21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,194.430008,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
4,6/5/2022 21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,194.430008,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1

In [218]:
new_df2.shape

(12751, 20)

In [219]:
new_df1.shape

(19, 4)

In [220]:
## Using the max function to aggregate the data capture from 5 millisecond to 10 sec as to returnt the hightest value.

new_df2 = new_df2.groupby(['time_stamp'],as_index=False).max()

In [221]:
new_df2.head(5)

,time_stamp,L_R1SDW_SPDREF,L_R1SDD_SPDREF,L_R1SDL_SPDREF,L_R1SDW_SPDFBK,L_R1SDD_SPDFBK,L_R1SDL_SPDFBK,L_R1_ODG_AUX_B07,RM1_RUNDOWN_ID_HS,L_R1SD_WS_GAP,L_R1SD_DS_GAP,L_R1SD_WS_SPDREF,L_R1SD_DS_SPDREF,L_R1SDLS_SPDREF,L_R1SD_WS_SPDFBK,L_R1SD_DS_SPDFBK,L_R1SDLS_SPDFBK,L_R1SD_WS_CUR,L_R1SD_DS_CUR,L_R1_CNT_PASS0
0,6/5/2022 21:58:33,0.0,0.0,0,0.0,0.0,0,0,225726050,194.434006,194.356003,0.0,0.0,0,0.0,0.0,0,0,0,1
1,6/5/2022 21:58:34,0.0,0.0,0,0.0,0.0,0,0,225726050,194.432007,194.358002,0.0,0.0,0,0.0,0.0,0,0,0,1
2,6/5/2022 21:58:35,0.0,0.0,0,0.0,0.0,0,1,225726050,194.668015,194.593994,0.0,0.0,0,0.0,0.0,0,0,0,1
3,6/5/2022 21:58:36,0.0,0.0,0,0.0,0.0,0,1,225726050,194.672012,194.599991,0.0,0.0,0,0.0,0.0,0,0,0,0
4,6/5/2022 21:58:37,0.0,0.0,0,0.0,0.0,0,1,225726050,194.670013,194.601990,0.0,0.0,0,0.0,0.0,0,0,0,0

In [230]:
Sample_Output = pd.DataFrame()
d = {}

d['event_timestamp'] = []
d["tag__id"] = []
d["tag__name"] = []
d["tag__desc"] = []
d["tag__value"] = []
d["tag__unit"] = []

a2 = []
for k in d:
    a2.append(k)

alias = ["ItemId", 'ItemId', 'ItemName', 'Comment', 'ItemId','Unit']
for i in range(7):
    for j in range(6):
        d[a2[j]].append(new_df1[alias[j]][i])
    d[a2[0]][i] = new_df2["time_stamp"][i*10]
    d[a2[4]][i] = -212340981234091283470112342
    for j in range(i*10, min(i*10+10, 64)):
        d['tag__value'][i] = max(new_df2[new_df1[alias[2]][i]][j], d['tag__value'][i])

Output = pd.DataFrame(d)
Output

,event_timestamp,tag__id,tag__name,tag__desc,tag__value,tag__unit
0,6/5/2022 21:58:33,35827,L_R1SDW_SPDREF,R1 Screw Down WS Speed Reference (mps),0.000000,mps
1,6/5/2022 21:58:43,35828,L_R1SDD_SPDREF,R1 Screw Down DS Speed Reference (mps),29.866667,mps
2,6/5/2022 21:58:53,35829,L_R1SDL_SPDREF,R1 Screw Down LS Speed Reference (mps),0.000000,mps
3,6/5/2022 21:59:03,35830,L_R1SDW_SPDFBK,R1 Screw Down WS Speed Feedback (mps),10.550400,mps
4,6/5/2022 21:59:13,35831,L_R1SDD_SPDFBK,R1 Screw Down DS Speed Feedback (mps),0.000000,mps
5,6/5/2022 21:59:23,35832,L_R1SDL_SPDFBK,R1 Screw Down LS Speed Feedback (mps),0.000000,mps
6,6/5/2022 21:59:33,35974,L_R1_ODG_AUX_B07,R1 ODG AUX output B07,1.000000,NaN

In [231]:
Output.to_csv('SampleOutput.csv',index=False,na_rep ='')